<div class="row" ng-controller="ContactsCtrl">

  <!--add form-->
	<div class="col-md-5" ng-show="addFormShow">

    <form ng-submit="addContact()">
      <h3>Add Contacts</h3>

      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Name" ng-model="name">
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Password" ng-model="email">
      </div>

      <div class="form-group">
        <label>Phone Number</label>
        <input type="text" class="form-control" placeholder="Phone Number" ng-model="phone">
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form> 
  </div><!--end of col-md-5-->

  <!--edit form-->
  <div class="col-md-5" ng-show="editFormShow">
    
    <form ng-submit="editContact()">
      <h3>Edit Contact</h3>

      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Name" ng-model="name">
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Password" ng-model="email">
      </div>

      <div class="form-group">
        <label>Phone Number</label>
        <input type="text" class="form-control" placeholder="Phone Number" ng-model="phone">
      </div>

      <button type="submit" class="btn btn-default">Save</button>
    </form>
  </div><!--end of col-md-5-->



	<div class="col-md-7">
    <h3>Contacts</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contact in contacts">
          <td>{{contact.name}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.phone}}</td>
          <td>
            <a class="btn btn-default" ng-click="showEditForm(contact)">Edit</a>
            <a class="btn btn-danger" ng-click="removeContact(contact)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>

	</div><!--end of col-md-7-->

</div>
